*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface{
    width: 80%;
    margin: 0 auto;
}

.interface-1{
    width: 90%;
    margin: 0 auto;
}

.none{
    display: none;
}

.ajustar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 1.5rem;
    
}

.banner{
    height: 800px;
    width: 100%;
}

.logo{
    height: 40px;
}

.grid .spinner-border{
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

#contato{
    margin-top: 7rem;
    height: 50vh;
    background-color: black;
}

.flex{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.flex li{

list-style: none;
}



#contato .flex img{
    height: 150px;
}

.card:hover{
    cursor: pointer;
    animation: clickCard linear .45s normal forwards;
}

.windown{
    background-color: rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
}

#windown{
    background-color: rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2;
}

#windown.active{
    background-color: rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    visibility: visible;
    opacity: 1;
    transition: opacity .3s;
}

.voltar{
    position: absolute;
    height: 70px;
    width: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.voltar svg{
    background-color: white;
    border-radius: 50%;
  
}




@keyframes clickCard{
    0%{
        scale: .95;
    }

    40%{
        scale: .90;  
    }

    60%{
        scale: .95;  
    }

    100%{
        scale: 1.02;
    }
}









@media (max-width: 1300px){

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 100%;
        gap: 1rem;
        justify-content: center;

    }


    }




    @media (max-width: 1050px){

        .grid{       
            grid-template-columns: repeat(2, 1fr);       
   
            width: 600px;
        }

        .ajustar{
            width: 100%;
            display: flex;
            justify-content: center;
         
                }
                

        .navbar-toggler{
            margin-right: 1rem;
        }
    
        .banner{
            height: 600px;
        }

       
        
        
        #contato .flex img{
            height: 100px;
        }
            
        .flex{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 1rem;

        }

        .logo{
            height: 40px;
            display: none;
        }

                }

                
@media (max-width: 610px){

        .banner{
            height: 300px;
        }

             
        .grid{       
            grid-template-columns: repeat(1, 1fr);       
            
            width: 290px;
        }

        .ajustar{
            width: 100%;
            display: flex;
            justify-content: center;

                }

        


    }

    @media (max-width: 390px){

.voltar{
    position: absolute;
    height: 50px;
    width: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

    }